<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<h1>Criar Disciplina</h1>
<form class="col-lg-6" th:action="@{/disciplinas/salvar}" th:object="${disciplina}" method="post">
    <div>
        <label for="codigo">Código:</label>
        <input type="text" th:field="*{codigo}" id="codigo" placeholder="Código">
        <span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="text-danger"></span>
    </div>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
    </div>
    <div>
        <label for="sala">Sala:</label>
        <input type="text" th:field="*{sala}" id="sala" placeholder="Sala">
        <span th:if="${#fields.hasErrors('sala')}" th:errors="*{sala}" class="text-danger"></span>
    </div>
    <div>
        <label for="professor">Professor:</label>
        <select id="professor" th:field="*{nomeProfessor}" name="professor">
            <option value="">Selecione o Professor</option>
            <option th:each="professor : ${professores}" th:value="${professor.nome}" th:text="${professor.nome}"></option>
        </select>
        <span th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}" class="text-danger"></span>
    </div>
    <div>
        <label for="vagas">Vagas:</label>
        <input type="number" th:field="*{vagas}" id="vagas" placeholder="Vagas">
        <span th:if="${#fields.hasErrors('vagas')}" th:errors="*{vagas}" class="text-danger"></span>
    </div>
    <div>
        <label for="creditos">Créditos:</label>
        <input type="number" th:field="*{creditos}" id="creditos" placeholder="Créditos">
        <span th:if="${#fields.hasErrors('creditos')}" th:errors="*{creditos}" class="text-danger"></span>
    </div>
    <div>
        <label for="preRequisitos">Pré-requisitos:</label>
        <select id="preRequisitos" th:field="*{preRequisitosNomes}" name="preRequisitos" multiple="true">
            <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.nome}" th:text="${disciplina.nome}"></option>
        </select>
        <span th:if="${#fields.hasErrors('preRequisitos')}" th:errors="*{preRequisitos}" class="text-danger"></span>
    </div>
    <div>
        <label for="horarios">Selecione os horários:</label>
        <input type="hidden" th:field="*{horariosNomes}" id="horarios">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>19:00</td>
                <td class="selectable" data-day="Segunda" data-time="19:00"></td>
                <td class="selectable" data-day="Terça" data-time="19:00"></td>
                <td class="selectable" data-day="Quarta" data-time="19:00"></td>
                <td class="selectable" data-day="Quinta" data-time="19:00"></td>
                <td class="selectable" data-day="Sexta" data-time="19:00"></td>
                <td class="selectable" data-day="Sábado" data-time="19:00"></td>
            </tr>
            <tr>
                <td>20:50</td>
                <td class="selectable" data-day="Segunda" data-time="20:50"></td>
                <td class="selectable" data-day="Terça" data-time="20:50"></td>
                <td class="selectable" data-day="Quarta" data-time="20:50"></td>
                <td class="selectable" data-day="Quinta" data-time="20:50"></td>
                <td class="selectable" data-day="Sexta" data-time="20:50"></td>
                <td class="selectable" data-day="Sábado" data-time="20:50"></td>
            </tr>
            </tbody>
        </table>
        <span th:if="${#fields.hasErrors('horarios')}" th:errors="*{horarios}" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Adicionar Disciplina</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectedCells = new Set();
        const horariosInput = document.getElementById('horarios');

        document.querySelectorAll('.selectable').forEach(cell => {
            cell.addEventListener('click', function() {
                const cellId = `${this.dataset.day} - ${this.dataset.time}`;
                if (selectedCells.has(cellId)) {
                    selectedCells.delete(cellId);
                    this.classList.remove('table-primary');
                } else {
                    selectedCells.add(cellId);
                    this.classList.add('table-primary');
                }
                horariosInput.value = Array.from(selectedCells).join(',');
                console.log(horariosInput.value);
            });
        });
    });
</script>
</body>
</html>