<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div>
        <div th:insert="~{fragments/navbar.html :: navbar}"></div>
        <div th:switch="${disciplinas}">
            <h2 th:case="null">Sem disciplinas cadastradas</h2>
            <div th:case="*">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Sala</th>
                            <th>Professor</th>
                            <th>Vagas</th>
                            <th>Créditos</th>
                            <th>Pré-Requisitos</th>
                            <th>Horários</th>
                            <th sec:authorize="hasAuthority('Admin')">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="disciplina : ${disciplinas}">
                            <td th:text="${disciplina.id}"></td>
                            <td th:text="${disciplina.codigo}"></td>
                            <td th:text="${disciplina.nome}"></td>
                            <td th:text="${disciplina.sala}"></td>
                            <td th:text="${disciplina.professor.nome}"></td>
                            <td th:text="${disciplina.vagas}"></td>
                            <td th:text="${disciplina.creditos}"></td>
                            <td th:if="${disciplina.preRequisitosNomes != null and !disciplina.preRequisitosNomes.isEmpty()}" th:text="${disciplina.preRequisitosNomes}"></td>
                            <td th:if="${disciplina.preRequisitosNomes == null or disciplina.preRequisitosNomes.isEmpty()}">Sem pré-requisitos</td>
                            <td>
                                <ul>
                                    <li th:each="horario : ${disciplina.horarios}" th:text="${horario.combinaDiaHora}"></li>
                                </ul>
                            </td>
                            <td>
                                <a th:href="@{/disciplinas/deletar/{id}(id=${disciplina.id})}" class="btn btn-danger" sec:authorize="hasAuthority('Admin')">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a th:href="@{/disciplinas/criar}" class="btn btn-success" sec:authorize="hasAuthority('Admin')">Adicionar Nova Disciplina</a>
        </div>
    </div>
</body>
</html>