<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div class="w-100">
        <div th:insert="~{fragments/navbar.html :: navbar}"></div>
        <div th:replace="~{fragments/page-header :: pageHeader('Horários', null)}"></div>
        <div th:switch="${horarios}" >
            <h2 th:case="null">Sem horários cadastrados</h2>
            <div th:case="*" class="table-responsive tabela-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dia</th>
                            <th>Hora Início</th>
                            <th>Hora Fim</th>
<!--                            <th>Combina Dia Hora</th>-->
                            <th sec:authorize="hasAuthority('Admin')">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="horario : ${#lists.sort(horarios)}">
                            <td th:text="${horario.id}"></td>
                            <td th:text="${horario.dia}"></td>
                            <td th:text="${horario.horaInicio}"></td>
                            <td th:text="${horario.horaFim}"></td>
<!--                            <td th:text="${horario.combinaDiaHora}"></td>-->
                            <td class="td-actions">
                                <a th:href="@{/horarios/deletar/{id}(id=${horario.id})}" class="btn btn-danger" sec:authorize="hasAuthority('Admin')">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- <a th:href="@{/horarios/criar}" class="btn btn-success">Adicionar Novo Horário</a> -->
        </div>
    </div>
</body>
</html>