<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <h1>Criar Aluno</h1>
    <form class="col-lg-6" th:action="@{/alunos/salvar}" th:object="${aluno}" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
        </div>
        <div>
            <label for="cpf">cpf:</label>
            <input type="text" th:field="*{cpf}" id="cpf" placeholder="000.000.000-00">
            <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
        </div>
        <div>
            <label for="curso">Curso:</label>
            <select id="curso" th:field="*{nomeCurso}" name="curso">
                <option value="">Selecione o Curso</option>
                <option th:each="curso : ${cursos}" th:value="${curso.nome}" th:text="${curso.nome}"></option>
            </select>
        </div>
        <div>
            <label for="semestreIngresso">Semestre de Ingresso:</label>
            <input type="text" th:field="*{semestreIngresso}" id="semestreIngresso" name="semestreIngresso" placeholder="2025.1">
        </div>
        <div>
            <button type="submit">Adicionar Aluno</button>
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00', {reverse: false});
        });
    </script>
</body>
</html>