<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <h1>Criar Aluno</h1>
    <form class="col-lg-6" th:action="@{/alunos/atualizar/{id}(id=${aluno.id})}" th:object="${aluno}" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" th:field="*{cpf}" id="cpf" placeholder="000.000.000-00">
            <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
        </div>
        <div>
            <label for="curso">Curso:</label>
            <select id="curso" th:field="*{curso}" name="curso">
                <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                <option value="Engenharia Elétrica">Engenharia Elétrica</option>
                <option value="Gestão Comercial">Gestão Comercial</option>
            </select>
        </div>
        <div>
            <label for="semestreIngresso">Semestre de Ingresso:</label>
            <input type="text" th:field="*{semestreIngresso}" id="semestreIngresso" name="semestreIngresso" placeholder="2025">
        </div>
        <div>
            <button type="submit">Atualizar Aluno</button>
        </div>
    </form>
</body>
</html>