<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <div th:replace="~{fragments/page-header :: pageHeader('Criar Grade de Aluno', '/grades-alunos')}"></div>
    <form class="col-12" th:action="@{/grades-alunos/salvar}" th:object="${gradeAluno}" method="post">
        <div class="form-group row mb-2">
            <label for="aluno" class="col-form-label col-1 mr-1">Aluno:</label>
            <select id="aluno" th:field="*{nomeAluno}" name="aluno" class="form-control w-auto p-2">
                <option value="">Selecione o Aluno</option>
                <option th:each="aluno : ${alunos}" th:value="${aluno.nome}" th:text="${aluno.nome}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label for="periodo" class="col-form-label col-1 mr-1">Periodo:</label>
            <input type="text" class="form-control w-auto p-2" th:field="*{periodo}" id="periodo" placeholder="ex. 2025.1">
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </form>
</body>
</html>
