<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <div style="display: flex;" class="justify-content-between">
        <div th:replace="~{fragments/page-header :: pageHeader('Grades de Alunos', null)}" class="col-6"></div>
        <div id="campo-busca" class="col-6 justify-content-end" sec:authorize="hasAuthority('Admin')">
            <form class="w-75" th:action="@{/grades-alunos/buscar}" method="GET">
                <div class="input-group">
                    <input type="text" id="input-busca" name="nome" th:value="${param.nome}" class="form-control" placeholder="Digite o nome para buscar">
                    <div class="input-group-append" th:if="${param.nome}">
                        <button class="btn input-group-text bg-white" style="border-left-style: none" onclick="resetBusca()" type="submit">
                            <i class="bi bi-x align-top"></i>
                        </button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" style="border: none;">
                            <i class="bi bi-search align-top" style="color: white;"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:switch="${gradesAlunos}">
        <h2 th:case="null">Sem grades cadastradas</h2>
        <div th:case="*" class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th sec:authorize="hasAuthority('Admin')">ID</th>
                <th sec:authorize="hasAuthority('Admin')">Aluno</th>
                <th>Período</th>
                <th>Créditos</th>
                <th>Status</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gradeAluno : ${gradesAlunos}">
                    <td th:text="${gradeAluno.id}" sec:authorize="hasAuthority('Admin')"></td>
                    <td th:text="${gradeAluno.aluno.nome}" sec:authorize="hasAuthority('Admin')"></td>
                    <td th:text="${gradeAluno.periodo}"></td>
                    <td th:text="${gradeAluno.calcCreditos()}"></td>
                    <td th:text="${gradeAluno.confirmada ? 'Confirmada' : 'Em Progresso'}" th:class="${gradeAluno.confirmada ? 'confirmado' : 'em-progresso'}"></td>
                    <td class="td-actions">
                        <a th:href="@{/grades-alunos/visualizar/{id}(id=${gradeAluno.id})}" class="btn btn-info">Visualizar</a>
                        <a th:href="@{/grades-alunos/editar/{id}(id=${gradeAluno.id})}" class="btn btn-primary" th:if="${not gradeAluno.confirmada || #authorization.expr('hasAuthority(''Admin'')')}">Editar</a>
                        <a th:href="@{/grades-alunos/deletar/{id}(id=${gradeAluno.id})}" class="btn btn-danger" sec:authorize="hasAuthority('Admin')">Excluir</a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <a th:href="@{/grades-alunos/criar}" class="btn btn-success" sec:authorize="hasAuthority('Admin')">Adicionar Nova Grade</a>
    </div>

    <script>
        function resetBusca(){
            $("#input-busca").val("");
        }
    </script>
</body>
</html>