<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div>
        <div th:insert="~{fragments/navbar.html :: navbar}"></div>
        <div th:switch="${professores}">
            <h2 th:case="null">Sem professores cadastrados</h2>
            <div th:case="*">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>cpf</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="professor : ${professores}">
                            <td th:text="${professor.id}"></td>
                            <td th:text="${professor.nome}"></td>
                            <td th:text="${professor.cpf}"></td>
                            <td>
                                <a th:href="@{/professores/deletar/{id}(id=${professor.id})}" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- <a th:href="@{/professores/criar}" class="btn btn-success">Adicionar Novo Professor</a> -->
        </div>
    </div>
</body>
</html>
