<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <div th:switch="${gradePeriodos}">
        <h2 th:case="null">Sem grades cadastradas</h2>
        <div th:case="*">
            <table class="table table-striped table-responsive">
            <thead>
                <tr>
                <th sec:authorize="hasAuthority('Admin')">ID</th>
                <th>Curso</th>
                <th>Período</th>
                <th sec:authorize="hasAuthority('Admin')">Status</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gradePeriodo : ${gradePeriodos}">
                    <td th:text="${gradePeriodo.id}" sec:authorize="hasAuthority('Admin')"></td>
                    <td th:text="${gradePeriodo.curso.nome}"></td>
                    <td th:text="${gradePeriodo.periodo}"></td>
                    <div class="form-group" >
                    <td th:text="${gradePeriodo.confirmada ? 'Confirmada' : 'Em Progresso'}" th:class="${gradePeriodo.confirmada ? 'confirmado' : 'em-progresso'}" sec:authorize="hasAuthority('Admin')"></td>
                    <td>
                        <a th:href="@{/grades-periodos/visualizar/{id}(id=${gradePeriodo.id})}" class="btn btn-info">Visualizar</a>
                        <a th:href="@{/grades-periodos/editar/{id}(id=${gradePeriodo.id})}" class="btn btn-primary" sec:authorize="hasAuthority('Admin')">Editar</a>
                        <a th:href="@{/grades-periodos/deletar/{id}(id=${gradePeriodo.id})}" class="btn btn-danger" sec:authorize="hasAuthority('Admin')">Excluir</a>
                    </td>
                    </div>
                </tr>
            </tbody>
            </table>
        </div>
        
        <a th:href="@{/grades-periodos/criar}" class="btn btn-success" sec:authorize="hasAuthority('Admin')">Adicionar Nova Grade</a>
    </div>

</body>
</html>