<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <div th:switch="${gradePeriodos}">
        <h2 th:case="null">Sem grades cadastradas</h2>
        <div th:case="*">
            <table th:each="gradePeriodo : ${gradePeriodos}" class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Créditos</th>
                    <th>Pré-Requisitos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="discplina : ${gradePeriodo.disciplinas}">
                    <td th:text="${disciplina.nome}"></td>
                    <td th:text="${disciplina.creditos}"></td>
                    <td th:if="${disciplina.preRequisitos != null and !disciplina.preRequisitos.isEmpty()}">
                        <ul style="list-style-position: inside; padding-left: 0;">
                            <li th:each="preRequisito : ${disciplina.preRequisitos}" th:text="${preRequisito.nome}"></li>
                        </ul>
                    </td>
                    <td th:unless="${disciplina.preRequisitos != null and !disciplina.preRequisitos.isEmpty()}">Sem pré-requisitos</td>
                </tr>
            </tbody>
            </table>
        </div>
        
        <a th:href="@{/grades-periodos/criar}" class="btn btn-success" sec:authorize="hasAuthority('Admin')">Adicionar Nova Grade</a>
    </div>

</body>
</html>