<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <link rel="stylesheet" th:href="@{/css/grade-style.css}">
    <a th:href="@{/cursos}" class="btn btn-outline-primary my-2">
        <i class="bi bi-chevron-left align-top"></i> Voltar
    </a>
    <div th:switch="${gradePeriodos}">
        <h2 th:case="null">Sem grades cadastradas</h2>
        <div th:case="*" class="w-100">
            <h2 th:text="${'PPC de ' + gradePeriodos.get(0).curso.nome}"></h2>
            <table th:each="gradePeriodo : ${gradePeriodos}" class="table table-striped col-12">
            <caption th:text="${gradePeriodo.periodo} + 'º Período'" style="caption-side: top"></caption>
            <thead>
                <tr>
                    <th class="col-6">Nome</th>
                    <th class="col-2">Créditos</th>
                    <th class="col-4">Pré-Requisitos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="disciplina : ${gradePeriodo.disciplinas}" th:id="${disciplina.nome}">
                    <td th:text="${disciplina.nome}"></td>
                    <td th:text="${disciplina.creditos}"></td>
                    <td th:if="${disciplina.preRequisitos != null and !disciplina.preRequisitos.isEmpty()}">
                        <ul>
                            <li th:each="preRequisito : ${disciplina.preRequisitos}" th:text="${preRequisito.nome}"></li>
                        </ul>
                    </td>
                    <td th:unless="${disciplina.preRequisitos != null and !disciplina.preRequisitos.isEmpty()}">Sem pré-requisitos</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        var disciplinas = /*[[${disciplinas}]]*/ {};
        var coresDisciplinas = /*[[${coresDisciplinas}]]*/ {};

        disciplinas.forEach(disciplina => {
            let tableRow = document.getElementById(disciplina);
            tableRow.style.background = coresDisciplinas[disciplina];
        })
    </script>

</body>
</html>