<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GradeIF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/nav-style.css}">
    <script th:src="@{/js/nav-func.js}"></script>
</head>
<body th:fragment="navbar" id="main">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <button class="navbar-toggler" type="button" onclick="toggleNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">GradeIF</a>
        </nav>

        <div id="sidebar" class="bg-dark">
            <a th:href="@{/alunos}">Alunos</a>
            <a th:href="@{/cursos}">Cursos</a>
            <a th:href="@{/professores}">Professores</a>
            <a th:href="@{/horarios}">Horários</a>
            <a th:href="@{/disciplinas}">Disciplinas</a>
        </div>

        <div id="content">
    </div>
</body>
</html>