.register-card {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
@media (max-height: 700px) {
    .container-register {
        align-items: flex-start;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .register-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
#cpfField {
    display: none;
    transition: all 0.3s ease;
}