<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">
<body>
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <img th:src="@{/imgs/clique.png}" alt="logo-gradeif" class="img-fluid" id="img-clique">
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 250px);">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/imgs/logo.png}" alt="logo-gradeif" class="img-fluid" id="logo-grande">
        </a>
    </div>

    <script>
        document.getElementById("img-clique").addEventListener('click', function() {
            const element = document.getElementById("img-clique");
            element.style.display = "none";
    });
    </script>
</body>
</html>